<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        #container{

            width:1800px;
            height:1200px;
            margin:0 auto;
            display:flex;

        }
        #leftCont{

            width:60%;
            height:100%;
            margin-right:2%;
            border:1px solid black;

        }
        #rightCont{

            width:38%;
            height:100%;
            border:1px solid black;

        }
        #hompageArea{
            display:inline-block;
            width:100%;
            height:100%;
            background-color:black;

        }

        #projectTitle{

            width:90%;
            height:25%;
            border-bottom:1px solid black;
            padding:5%;

        }
        #projectPPT{
            
            width:100%;
            height:70%;
            
        }
        .pptSlide{

            display:inline-block;
        }
        .slideImg{
            width:100%;
            height:100%;

        }

        #explain{

            width:1000px;
            height:300px;
            border:1px solid black;
            padding:2%;
            overflow:auto;


            margin: 0 auto;
            margin-top:50px;
        }
    </style>

</head>
<body>
    
    <div id="container">

        <div id="leftCont">
            <iframe id="hompageArea" src="http://cantstopmyroom.ga/"></iframe>
        </div>
        <!-- leftCont 끝 -->
        
        <div id="rightCont">

            <div id="projectTitle">
                <h2>주최&ensp;:&ensp;Korea IT 국비교육</h2>
                <h3>주제&ensp;:&ensp;아이들에게 초점을 맞춘 인테리어 플랫폼</h3>
                <br>
                <h4>작업인원&ensp;:&ensp;4</h4>
                <h4>작업기간&ensp;:&ensp;2021 / 09 / 08 ~ 2021 / 10 / 04</h4>
            </div>
            <!--projectTitle 끝-->

            <div id="projectPPT">
                <div class="pptSlidContainer" style="overflow:auto; width:100%; height:830px;">


                    <div class="pptSlide">
                        <img src="/img/interior/1.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/interior/2.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/interior/3.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/interior/4.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/interior/5.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/interior/6.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/interior/7.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/interior/7-2.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/interior/8.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/interior/9.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/interior/10.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/interior/11.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/interior/12.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/interior/13.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                </div>
                <!--pptSlidContainer 끝-->
            </div>
            <!--projectPPT 끝-->
        </div>
        <!-- rightCont 끝 -->

    </div>
    <!--container 끝-->


    <!-- <div id="explain">
        <h5>후기</h5>
        <p>
            
        </p>
        <h5>작업중 이슈</h5>
        <p>
            
        </p>
    </div> -->
    <!-- explain 끝 -->


</body>
</html>