<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        #container{

            width:1800px;
            height:1200px;
            margin:0 auto;
            display:flex;

        }
        #leftCont{

            width:60%;
            height:100%;
            margin-right:2%;
            border:1px solid black;

        }
        #rightCont{

            width:38%;
            height:100%;
            border:1px solid black;

        }
        #hompageArea{
            display:inline-block;
            width:100%;
            height:100%;
            background-color:black;

        }

        #projectTitle{

            width:90%;
            height:25%;
            border-bottom:1px solid black;
            padding:5%;

        }
        #projectPPT{
            
            width:100%;
            height:70%;
            
        }
        .pptSlide{

            display:inline-block;;
            
        }
        .slideImg{
            width:100%;
            height:100%;

        }
    </style>

</head>
<body>
    
    <div id="container">

        <div id="leftCont">
            <!--<iframe id="hompageArea" src=""></iframe>-->
            <center><h1>-결과물 미완 | 행사 미종료-</h1></center>
        </div>
        <!-- leftCont 끝 -->
        
        <div id="rightCont">

            <div id="projectTitle">
                <h2>주최 : 고용노동부 | HRDK 한국산업인력공단 | 제주테크노파크 | 제주산학융합원 | KAKAO | goorm</h2>
                <h3>주제 : <a href="https://9oormthon.goorm.io"> 클라우드 기술 활용 해커톤 (구름톤 기) </a> </h3>
                <h3>( 제주도내 교육 인프라 활성화를 위한 스터디 모임 개설 / 참여 웹/앱 개발 )</h3>
                
                <h4>작업인원 : </h4>
                <h4>작업기간 : </h4>
            </div>
            <!--projectTitle 끝-->

            <div id="projectPPT">
                <div class="pptSlidContainer" style="overflow:auto; width:100%; height:830px;">

                    <!--
                    <div class="pptSlide">
                        <img src="/img/kamp/kamp19.png" class="slideImg"/>
                        -->
                        <!--slideImg끝-->
                    <!--
                    </div>
                    -->
                    <!--pptSlide 끝-->

                </div>
                <!--pptSlidContainer 끝-->
            </div>
            <!--projectPPT 끝-->
        </div>
        <!-- rightCont 끝 -->

    </div>
    <!--container 끝-->
    
</body>
</html>