<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        #container{

            width:1800px;
            height:600px;
            margin:0 auto;
            display:flex;

        }
        #leftCont{

            width:60%;
            height:100%;
            margin-right:2%;
            border:1px solid black;

        }
        #rightCont{

            width:38%;
            height:100%;
            border:1px solid black;

        }
        #hompageArea{
            display:inline-block;
            width:100%;
            height:100%;
            background-color:black;

        }

        #projectTitle{

            width:90%;
            height:25%;
            border:1px solid black;
            padding:5%;

        }
        #projectPPT{
            
            width:100%;
            height:70%;
            
        }
        .pptSlide{

            display:inline-block;;
            
        }
        .slideImg{
            width:100%;
            height:100%;

        }

        #explain{

            width:1000px;
            height:300px;
            border:1px solid black;
            padding:2%;
            overflow:auto;



            margin: 0 auto;
            margin-top:50px;
        }
    </style>

</head>
<body>
    
    <div id="container">

        <div id="leftCont">
            <iframe id="hompageArea" src="https://www.youtube.com/embed/QJZTMl_p0ZA"></iframe>
            <!--<center><h1>-결과물 미완 | 행사 미종료-</h1></center>-->
        </div>
        <!-- leftCont 끝 -->
        
        <div id="rightCont">

            <div id="projectTitle">
                <h2 style="margin-top: 0;">주최&ensp;:&ensp;KoreaIT 국비교육</h2>
                <h3>주제&ensp;:&ensp;크리스마스에 지인에게 편지를 달아주는 프로젝트 💌</h3>
                
                <h4>작업인원&ensp;:&ensp;6</h4>
                <h4>작업기간&ensp;:&ensp;2022 / 12 / 09 ~ 2022 / 12 / 28</h4>
            </div>
            <!--projectTitle 끝-->

            <div id="projectPPT">
                <div class="pptSlidContainer" style="overflow:auto; width:100%; height:380px;">

                    
                    <div class="pptSlide">
                        <img src="/img/LOH/1.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/LOH/2.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/LOH/3.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/LOH/4.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/LOH/5.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/LOH/6.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/LOH/7.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/LOH/8.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/LOH/9.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/LOH/10.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/LOH/11.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/LOH/12.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/LOH/13.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/LOH/14.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/LOH/15.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/LOH/16.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/LOH/17.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/LOH/18.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/LOH/19.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/LOH/20.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/LOH/21.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/LOH/22.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->


                </div>
                <!--pptSlidContainer 끝-->
            </div>
            <!--projectPPT 끝-->
        </div>
        <!-- rightCont 끝 -->

    </div>
    <!--container 끝-->


    <div id="explain">
        <h5>후기</h5>
        <p>
            제가 작업한 파트는 Naver SENS를 사용해서 문자 인증 구현과, AWS와 Jenkins를 이용해 자동 배포 환경을 구축하고( 비용의 문제로 Jenkins를 Local에서 사용했기 때문에 webHook은 사용하지 않았습니다 ), 
            ELB를 이용해 Load Balancing 환경을 구축하였습니다. 프론트 단과 서버를 구성할 수 있는 능력뿐만 아니라 서버를 관리하는 개발자의 역량도 필요하다고 생각하여 자동배포 환경을 구축하였고, 
            프로젝트의 특성상 단 하루, 특정 날짜에만 많은 트래픽이 몰릴것이라는 예상으로 ELB를 구축하여 트래픽을 해소하는 방안을 생각해 환경을 구축했습니다. 
        </p>  
        <h5>작업중 이슈</h5>
        <p>
            AWS 인스턴스에서 참 많은 에러사항이 존재했습니다. Jenkins 서버위에서 jar 배포파일을 구축하지 않고, 만들어놓은 2개의 인스턴스에 프로젝트가 옮겨가서
            각각의 인스턴스 내에서 project가 build되게 해놓은 초기 버전은, 1. AWS 인스턴스의 프리티어 사양으로는 Spring Boot 프로젝트의 build를 감당 할 수가 없었습니다.
            그래서 수정한 버전이 2. AWS 인스턴스에서의 t3. micro 사양의 인스턴스인데, 사양을 하나씩 올려보다가 t3. micro 사양까지 올라가서 그냥 Local의 Jenkins 서버 내에서
            jar파일을 빌드하고, 필수 파일들만 각각의 instance로 보내서 배포만 하게 환경을 구축했던것이 기억에 남습니다. 이번 프로젝트에서는 Spring Boot와 Jenkins를 같이 사용하는
            환경에 금전적인 이유로 제한시간내에 빠르게 적응하는것이 관건이었습니다. 
        </p>
    </div>
    <!-- explain 끝 -->
    
</body>
</html>