<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QueU</title>

    <style>
        #container{

            width:1800px;
            height:1200px;
            margin:0 auto;
            display:flex;

        }
        #leftCont{

            width:60%;
            height:100%;
            margin-right:2%;
            border:1px solid black;

        }
        #rightCont{

            width:38%;
            height:100%;
            border:1px solid black;

        }
        #hompageArea{
            display:inline-block;
            width:100%;
            height:100%;
            background-color:black;

        }

        #projectTitle{

            width:90%;
            height:25%;
            border-bottom:1px solid black;
            padding:5%;

        }
        #projectPPT{
            
            width:100%;
            height:70%;
            
        }
        .pptSlide{

            display:inline-block;
        }
        .slideImg{
            width:100%;
            height:100%;

        }

        #explain{

            width:1000px;
            height:300px;
            border:1px solid black;
            padding:2%;
            overflow:auto;


            margin: 0 auto;
            margin-top:50px;
        }
    </style>

</head>
<body>
    
    <div id="container">

        <div id="leftCont">
            <iframe id="hompageArea" src="http://43.201.75.140/"></iframe>
        </div>
        <!-- leftCont 끝 -->
        
        <div id="rightCont">

            <div id="projectTitle">
                <h2>주최&ensp;:&ensp;Korea IT 국비교육</h2>
                <h3>주제&ensp;:&ensp;의료서비스 플랫폼</h3>
                <!-- <h3>( 100일간의 기상청의 예보 데이터와 / 실 기온을 비교하여 기온 예측모델을 구축 및 배포 )</h3> -->
                <br>
                <h4>작업인원&ensp;:&ensp;4</h4>
                <h4>작업기간&ensp;:&ensp;2021 / 10 / 05 ~ 2021 / 11 / 08</h4>
            </div>
            <!--projectTitle 끝-->

            <div id="projectPPT">
                <div class="pptSlidContainer" style="overflow:auto; width:100%; height:830px;">


                    <div class="pptSlide">
                        <img src="/img/QueU/1.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/QueU/2.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/QueU/3.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/QueU/4.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/QueU/5.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/QueU/6.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/QueU/7.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/QueU/8.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/QueU/9.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/QueU/10.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/QueU/11.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/QueU/12.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/QueU/13.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/QueU/14.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/QueU/15.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/QueU/16.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/QueU/17.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/QueU/18.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/QueU/19.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/QueU/20.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/QueU/21.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/QueU/22.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/QueU/23.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/QueU/24.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/QueU/25.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                </div>
                <!--pptSlidContainer 끝-->
            </div>
            <!--projectPPT 끝-->
        </div>
        <!-- rightCont 끝 -->

    </div>
    <!--container 끝-->
    



    <!-- <div id="explain">
        <h5>후기</h5>
        <p>
            
        </p>
        <h5>작업중 이슈</h5>
        <p>
            
        </p>
    </div> -->
    <!-- explain 끝 -->


</body>
</html>