<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>트롤링</title>

    <style>
        #container{

            width:1800px;
            height:1200px;
            margin:0 auto;
            display:flex;

        }
        #leftCont{

            width:60%;
            height:100%;
            margin-right:2%;
            border:1px solid black;

        }
        #rightCont{

            width:38%;
            height:100%;
            border:1px solid black;

        }
        #hompageArea{
            display:inline-block;
            width:100%;
            height:100%;
            background-color:black;

        }

        #projectTitle{

            width:90%;
            height:25%;
            border-bottom:1px solid black;
            padding:5%;

        }
        #projectPPT{
            
            width:100%;
            height:70%;
            
        }
        .pptSlide{

            display:inline-block;;
            
        }
        .slideImg{
            width:100%;
            height:100%;

        }

        #explain{

            width:1000px;
            height:300px;
            border:1px solid black;
            padding:2%;
            overflow:auto;



            margin: 0 auto;
            margin-top:50px;
        }
    </style>

</head>
<body>
    
    <div id="container">

        <div id="leftCont">
            <iframe id="hompageArea" src="http://trawling.tk"></iframe>
            <!--<center><h1>-결과물 미완 | 행사 미종료-</h1></center>-->
        </div>
        <!-- leftCont 끝 -->
        
        <div id="rightCont">

            <div id="projectTitle">
                <h2>주최 : Korea IT 국비교육</h2>
                <h3>주제 : 웹상 연령별 댓글데이터 수집 / 분류 / 분석 / 시각화 </h3>
                
                <h4>작업인원 : 4</h4>
                <h4>작업기간 : 2022 / 10 / 26 ~ 2022 / 11 / 18</h4>
            </div>
            <!--projectTitle 끝-->

            <div id="projectPPT">
                <div class="pptSlidContainer" style="overflow:auto; width:100%; height:830px;">

                    
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg1.png" class="slideImg"/>
                    </div>
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg2.png" class="slideImg"/>
                    </div>
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg3.png" class="slideImg"/>
                    </div>
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg4.png" class="slideImg"/>
                    </div>
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg5.png" class="slideImg"/>
                    </div>
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg6.png" class="slideImg"/>
                    </div>
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg7.png" class="slideImg"/>
                    </div>
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg8.png" class="slideImg"/>
                    </div>
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg9.png" class="slideImg"/>
                    </div>
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg10.png" class="slideImg"/>
                    </div>
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg11.png" class="slideImg"/>
                    </div>
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg12.png" class="slideImg"/>
                    </div>
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg13.png" class="slideImg"/>
                    </div>
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg14.png" class="slideImg"/>
                    </div>
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg15.png" class="slideImg"/>
                    </div>
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg16.png" class="slideImg"/>
                    </div>
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg17.png" class="slideImg"/>
                    </div>
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg18.png" class="slideImg"/>
                    </div>
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg19.png" class="slideImg"/>
                    </div>
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg20.png" class="slideImg"/>
                    </div>
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg21.png" class="slideImg"/>
                    </div>
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg22.png" class="slideImg"/>
                    </div>
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg23.png" class="slideImg"/>
                    </div>
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg24.png" class="slideImg"/>
                    </div>
                    <div class="pptSlide">
                        <img src="/img/trawling/koreaTrollingImg25.png" class="slideImg"/>
                    </div>
                    <!--pptSlide 끝-->

                </div>
                <!--pptSlidContainer 끝-->
            </div>
            <!--projectPPT 끝-->
        </div>
        <!-- rightCont 끝 -->

    </div>
    <!--container 끝-->


    <!-- <div id="explain">
        <h5>후기</h5>
        <p>
            다음 부사장님의 연설을 유튜브에서 접하고 나서 데이터 마이닝에 관심을 가지게 되었습니다. 사람을 좋아하는 개발자가 되고싶은 저로서는
            "Mind Miner"라는 타이틀이 매우 흥미롭게 느껴졌기 때문입니다. 얼마 후 바로 위와같은 프로젝트를 기획하기 시작하였고, 마음이 맞는
            멤버들이 모였습니다. 무대가 준비되었고, 밤낮없이 작업을 진행하여, YouTube, dcinside, TickTok 세개의 사이트에서 분당 약 3만개의
            단어들을 크롤링하여 웹상에서 차트로 시각화하는 프로젝트를 완성하였습니다. 매우 흥미로웠던 점은, 하루 온종일 인터넷에 매달리는 직종인
            개발자를 꿈꾸는 저이지만, 모아놓은 데이터를 보니, 처음보거나 낯선 단어들이 많았고, 제가 생각하는것과는 다른 관심사로 사람들의 관심이 몰리고있다는
            생각을 하게 되어 놀라웠습니다. 요즘 10대는 어떤단어를 사용하고, 50대분들은 어떤 단어의 출현빈도가 높은지 등 데이터를 시각화한것만으로
            한눈에 그 세대를 꿰뚫어보는듯한 느낌을 받았습니다. 

            또한 제가 데리고있는 모든 팀원은 본인의 유한한 시간을 절대 낭비하게 두지 않겠다는 저의 신념이 가장 잘 지켜져나간 프로젝트이기도 했습니다.
            컴퓨터 비전쪽으로 취업을 원하는 팀원은 파일 업로드 및 업로드할 이미지의 비전처리 파트를 맡고, 알고리즘 로직에 관심이 있는 팀원은
            저를따라 YouTube홈페이지 크롤링을 완성해냈습니다. 데이터 시각화에 관심이 있는 팀원은 단어 키워드 검색 후 제가 한 작업과는 또다른 막대차트를 웹상에 입혀내는것에
            성공했으며, 웹 백앤드의 비즈니스 로직에 관심이 있던 팀원은 전제적인 프로젝트 관리 및 자동 로그인 기능을 구현하였고, 이미 어느정도 프로젝트 경험이 있던 팀원은
            게시판의 모든 작업을 책임지고 구현하고, MacOS 사용 팀원들의 oracle11g 버전 사용불가 이슈를 docker을 이용해 해결해냈습니다. 가장 인상깊었던 부분은
            그 팀원은 dockerfile을 작성해내어 따로 전처리과정없이 배포과정을 매우 단순하게 만들어놓았던것이 기억에 남습니다.
        </p>  
        <h5>작업중 이슈</h5>
        <p>
            제가 담당한 작업은 TickTok 홈페이지에서의 댓글 수집 / 분류 / 분석 및 웹상에서 <a href="https://www.highcharts.com">highchart</a>와 chart.js를 이용해
            수집한 데이터를 차트로 시각화하는 작업을 담당 개발했었습니다. 초기에 부딪힌 문제로는 <a href="https://blog.naver.com/zerosugarcoke/222922570277">캡챠풀기</a> 문제에
            부딪혔습니다. 사람인것을 인증해야하는 해당 캡차는 퍼즐형식으로 이루어져 있었습니다. 위 링크에서 다루었던 노력들과 함께 여러 방안을 고민해보았지만, 블로그에 적어놓은 글과같은 이유들로
            캡차를 푸는데 실패하여, TickTok파트에서는 캡챠를 수동으로 풀어줘야하는 번거로움을 그대로 안고갔던것이 매우 아쉬웠습니다. 또한 수많은 데이터들을 데이터베이스에
            집어넣어야하는 상황에서 처음 짜놓았던 로직과 <a href="https://github.com/DHAPARK/BigDataTickCommentsProj/tree/main/tickTokCrawl">지금의 로직</a>
            을 비교해보면 메모리 관리와 변수의 생명주기에 신경을 아주 많이 쓴 코드로 전면 교체되었는데, 이는 오라클 데이터베이스에서 발생했던 Cursor이슈로 인해 코드에 변화가 크게 있었습니다.
            pstm을 열어준후에 close()해주지않아 나타난 에러로, 한차례 insert작업을 마무리낸 후에는 close()해주었어야하는데, 평소 많아야 30개의 데이터도 한꺼번에 넣을일이 없었기에
            놓쳤던 부분이었습니다. 또한 웹상에서 빅데이터를 처리하는 로직에도 신경을 많이쓰게되었는데, axios모듈로 비동기로 데이터를 가지고오는 과정에서 데이터를 가져오는중에 화면이 멈출만큼
            서버에 부담이 생기는것을 포착하게 되었으며, Axios모듈로 request를 보낸후에 response가 올때까지만 로딩화면이 유지되게 만드는 로직, 여러개의 Axios Http 요청들이
            병렬처리되게끔 만드는 로직을 구현하는등 이번 프로젝트에서는 빅데이터 프로젝트를 처음 기획하고 진행해보았기에, 접해보지 못한 이슈들 접하고 해결해본 귀중한 시간들이었습니다.
        </p>
    </div> -->
    <!-- explain 끝 -->
    
</body>
</html>